@font-face {
  font-family: "Comfortaa-Light";
  src: url("../font/Comfortaa-Light.ttf") format("truetype");
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  height: auto;
}

.header {
  font-family: "Comfortaa-Light";
  color: white;
  font-size: 23px;
  text-align: center;
  width: 700px;
  background-color: #8eccff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
