@font-face {
  font-family: "Comfortaa-Light";
  src: url("../font/Comfortaa-Light.ttf") format("truetype");
}

.todoTables {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  background-color: #fff8f7;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

table {
  text-align: center;
  width: 80%;
  margin: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  font-family: "Comfortaa-Light";
  padding: 10px 5px 10px 5px;
  font-size: 18px;
}

#text {
  width: 80%;
}

#del,
#update {
  width: 10%;
}

.delBtn,
.updBtn {
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Comfortaa-Light";
  border: 3px solid #fdbcb4;
  border-radius: 16px;
  background-color: transparent;
  height: 40px;
  font-size: 15px;
}

.delBtn:hover,
.updBtn:hover {
  border: 3px solid white;
  background-color: #fdbcb4;
  color: white;
  text-shadow: 1px 1px 1px gray;
  font-weight: bold;
  cursor: pointer;
}
